<div class="titl">
  <h2>{{ country }}</h2>
</div>

<div class="info">
  <!-- 
   component <app-bluebox> that displays information in a styled blue box.
  -->
  <app-bluebox [txt]="'Number of entries'" [number]="Nbentry"></app-bluebox>
  <app-bluebox [txt]="'Total number medals'" [number]="Tnbmedals"></app-bluebox>
  <app-bluebox
    [txt]="'Total number of athletes'"
    [number]="Tnbathletes"
  ></app-bluebox>
</div>
<div id="chartContainer"></div>

<button (click)="navigateToHome()">Retour à l'accueil</button>
